# Python Global
__pycache__/
*.py[cod]
*$py.class

# Backend
backend/.env
backend/venv/

# SQL
database/dumps/*.sql

# Frontend
frontend/node_modules/
frontend/dist/
legacy_frontend/

# Temp & Scripts
check_data.py
diagnose_output.txt
diagnose_service.py
schema_desc.txt
tables_check.txt
*.csv

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumb.db

# Quarto / Docs
docs/.quarto/
docs/_site/

# Dev Scripts
backend/dev_scripts/
!backend/dev_scripts/setup_b2b_db.py
!backend/dev_scripts/unified_diagnose_b2b.py
